# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular / Ionic build
.angular/
www/
dist/
out-tsc/

# Ionic / Cordova / Capacitor
platforms/
plugins/
capacitor.config.json

# Resources (imágenes generadas)
resources/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment / config sensibles
.env
.env.local

# Logs
logs/
*.log

# Firebase (si en algún momento agregas secrets)
firebase-debug.log