<ion-header>
  <ion-toolbar>
    <ion-title>TaskFlow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <section class="hero">
    <h1>Enfoque sin límites</h1>
    <p>Libera espacio mental. Organiza proyectos, metas y tareas en un solo sistema diseñado para la acción.</p>
  </section>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-input [(ngModel)]="newTaskTitle" placeholder="Escribe una nueva tarea" (keyup.enter)="addTask()">
        </ion-input>

        <ion-button slot="end" (click)="addTask()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>

      @if (isCategoriesEnabled && (categories$ | async); as categories) {
      @if (categories.length > 0) {
      <ion-item lines="none">
        <ion-select [(ngModel)]="selectedNewTaskCategoryId" placeholder="Categoría opcional">
          @for (cat of categories; track cat.id) {
          <ion-select-option [value]="cat.id">
            {{ cat.name }}
          </ion-select-option>
          }

        </ion-select>
      </ion-item>

      } @else {
      <div class="empty-categories">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>No tienes categorías aún. Crea una para organizar mejor tus tareas.</span>
      </div>

      }

      }
    </ion-card-content>
  </ion-card>

  @if (tasks$ | async; as tasks) {
  @if (isCategoriesEnabled && (categories$ | async); as categories) {
  <section class="hero">
    <p>Selecciona la opcion que quieres filtrar(Todas,Completas o por Categoria)</p>
  </section>
  <div class="filter-section">
    <ion-chip [color]="selectedFilter === 'all' && !selectedCategoryId ? 'primary' : 'medium'"
      (click)="selectFilter('all')">
      @if (selectedFilter === 'all' && !selectedCategoryId) {
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      }
      <ion-label>Total: {{ tasks.length }}</ion-label>
    </ion-chip>

    <ion-chip [color]="selectedFilter === 'completed' ? 'success' : 'medium'" (click)="selectFilter('completed')">
      @if (selectedFilter === 'completed') {
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      }
      <ion-label>Completadas: {{ getCompletedCount(tasks) }}</ion-label>
    </ion-chip>
  </div>
  <ion-accordion-group>
    <ion-accordion value="categories">
      <ion-item slot="header" lines="none">
        <ion-label>Categorías</ion-label>
      </ion-item>

      <div class="accordion-content" slot="content">

        <ion-item lines="none" class="category-create">
          <ion-input #catInput placeholder="Nueva categoría">
          </ion-input>

          <ion-button slot="end" (click)="addCategoryFromInput(catInput)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-item>

        @for (cat of categories; track cat.id) {
        <div class="category-row">
          <ion-chip [color]="selectedCategoryId === cat.id ? 'primary' : cat.color" (click)="selectCategory(cat.id)">
            @if (selectedCategoryId === cat.id) {
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            }
            <ion-label>{{ cat.name }}</ion-label>
          </ion-chip>

          <ion-button size="small" fill="clear" color="medium" (click)="openEditCategoryModal(cat.id, cat.name)">
            Editar
          </ion-button>
        </div>
        }
      </div>
    </ion-accordion>
  </ion-accordion-group>

  }

  @if (tasks.length > 0) {
  <ion-list>
    @for (task of getFilteredTasks(tasks); track task.id) {
    <ion-item>
      <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task.id)">
      </ion-checkbox>

      <ion-label [ngClass]="{ completed: task.completed }">
        <h2>{{ task.title }}</h2>

        @if (isCategoriesEnabled) {
        <p>
          Categoría: {{ getCategoryName(task.categoryId) }}
        </p>
        } @else {
        <p>""</p>
        }
      </ion-label>

      <ion-button fill="clear" color="danger" slot="end" (click)="deleteTask(task.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>
  } @else {
  <div class="empty-state">
    <h2>No tienes tareas todavía</h2>
    <p>Agrega tu primera tarea para comenzar.</p>
  </div>
  }
  }

  <ion-modal [isOpen]="isCategoryModalOpen" (didDismiss)="closeCategoryModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar categoría</ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="closeCategoryModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input [(ngModel)]="categoryToEditName" placeholder="Nombre de la categoría">
          </ion-input>
        </ion-item>

        <ion-button expand="block" (click)="saveCategoryChanges()">
          Guardar cambios
        </ion-button>

        <ion-button expand="block" color="danger" fill="outline" (click)="deleteCategoryFromModal()">
          Eliminar categoría
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>